$color-white: #fff;
$color-dark: #151815;

$color-bg-checkbox-lang-controls: #b0bec5;

$color-bg-main: #e2e8e7;
$color-bg-dark: #007078;
$color-bg-light-dark: #bdd5d5;
$color-bg-hover: #007c85;

$color-link-hover: #c4ab0a;
$color-yellow: #ffe226;

$color-text-stroke: #004045;
$color-test-grey: #34453f;

$color-skill-bg: $color-white;
$color-overlay: #29292999;
