$color-white: #fff;
$color-dark: #151815;

$color-bg-checkbox-lang-controls: #b0bec5;

$color-bg-main: #e2e8e7;
$color-bg-dark: #007078;
$color-bg-light-dark: #bdd5d5;

$color-link-hover: #c4ab0a;
$color-yellow: #ffe226;

$color-text-stroke: #40544f;
$color-test-grey: #34453f;

$color-skill-bg: #aad0cc;
