.footer {
  &__wrapper {
    display: flex;
    align-items: center;
    @media screen and (max-width: 840px) {
      flex-direction: column;
      gap: 10px;
    }
  }
  &__year {
    margin-left: auto;
    color: $color-bg-light-dark;
    letter-spacing: 0.04em;
    opacity: 0.8;
  }
}
