.my-works {
  &__title {
    font-weight: 600;

    font-size: 42px;
    line-height: 50px;
    letter-spacing: 0.08em;
    color: $color-dark;
    margin-bottom: 60px;
    position: relative;
    display: inline-block;
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    gap: 30px;
  }
}
