.nav {
  // &__container {
  // }

  &__header {
    @media screen and (max-width: 700px) {
      width: 35px;
      height: 35px;
      background-image: url('../../assets/menu-burger.png');
      background-size: cover;
      background-repeat: no-repeat;
      transition: all 0.3;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    &--header {
      @media screen and (max-width: 700px) {
        display: none;
      }
    }
  }

  &__item {
    list-style: none;
  }
  &__link {
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 34px;
    letter-spacing: 0.03em;
    color: $color-white;
    transition: all 0.4s;
    &:hover {
      cursor: pointer;
      color: #c4ab0a;
    }
  }
  &__footer {
    @media screen and (max-width: 840px) {
      flex-direction: column;
      gap: 15px;
    }
  }
}
